body{
font-family:Arial,sans-serif;
background:#f4f8ff;
color:#17243d;
}
.navbar{
background:#17243d;
}
.hero{
padding:140px 0 80px;
background:linear-gradient(135deg,#2563eb,#06b6d4);
color:white;
overflow:hidden;
}
.hero h1{font-size:60px;font-weight:800;}
.hero span{color:#b7ff3c;}
.robot {
  width: 150px;
  max-width: 100%;
  height: auto;
  animation: flotar 3s infinite ease-in-out;
}
@keyframes flotar{
50%{transform:translateY(-20px)}
}
.btn-tech{
background:#2563eb;
color:white;
border-radius:30px;
padding:12px 30px;
}
.card-tech,.formulario{
background:white;
padding:30px;
border-radius:25px;
box-shadow:0 15px 35px #0002;
transition:.3s;
}
.card-tech:hover{
transform:translateY(-10px);
}
label{
margin-top:15px;
font-weight:bold;
}
footer{
background:#17243d;
color:white;
text-align:center;
padding:20px;
}
